{% extends "base.html" %}

{% block title %}AdiAvi{% endblock %}

{% block content %}
<style>
    body {
        color: white !important;
    }
</style>
    <header class="text-center mt-5">
        <h1>welcome to AdiAvi</h1>
        <p class="lead">learning something new.</p>
    </header>
    
    <section class="features mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h2 class="card-title">Monthly Events</h2>
                        <p class="card-text">we host events</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h2 class="card-title">discord</h2>
                        <p class="card-text">we have a community discord server</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h2 class="card-title">community support</h2>
                        <p class="card-text">we actually listen to our com and make changes</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {% if latest_post %}
    <section class="latest-post mt-5">
        <h2>Latest Blog Post</h2>
        <div class="card bg-dark text-white">
            <div class="card-body">
                <h3 class="card-title" data-post-id="{{ latest_post._id }}">{{ latest_post.title }}</h3>
                <h6 class="card-subtitle mb-2 text-white">Author: {{ latest_post.author }}</h6>

            <!-- Display content exactly as the user typed it, preserving formatting and line breaks -->
                <pre class="card-text" data-post-id="{{latest_post._id }}" style="white-space: pre-line;">{{ latest_post.content[:200] + '...' if latest_post.content|length > 200 else latest_post.content | safe }}</pre>

                <p class="card-text"><small class="text-white">Date: {{ latest_post.date }}</small></p>
                <div class="card-footer">
                    {% if username %}
                        <a class="btn btn-primary" href="/post/{{latest_post._id }}" role="button">View Entire Post</a>
                    {% else %}
                        <!-- Show a message or a disabled button for users who are not logged in -->
                        <button class="btn btn-primary">View Post</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}
