{% extends "base.html" %}

{% block content %}
<style>
    body {
        color: white !important;
    }
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
</style>
<div class="card bg-dark text-light mb-4">
    <div class="card-header">
        <h2 class="text-light">{{ post.title }}</h2>
    </div>
    <div class="card-body">
        <h5 style="font-size: 1.5rem; font-weight: bold;" >{{ post.subject }}</h5>
        <h6 style="font-size: 1.1rem;" >{{ post.author }}</h6>
        <h6 style="font-size: 1rem;" >{{ post.date }}</h6>

        <pre class="card-text" style="white-space: pre-line;font-family: 'Open Sans', sans-serif;">{{ post.content | safe }}</pre>

        <!-- Like button with icon and number of likes -->
        <form method="POST" action="/like_post/{{ post._id }}">
            <div class="d-flex align-items-center">
                {% if username %}
                <button type="submit" class="btn btn-link">
                    {% if user_has_liked_post %}
                        <i class="fas fa-thumbs-up text-primary"></i>
                    {% else %}
                        <i class="far fa-thumbs-up text-secondary"></i>
                    {% endif %}
                </button>

                <span class="ml-2">{{ post.likes }}</span>
                {% endif %}
            </div>
        </form>
    </div>
</div>

<div class="card bg-dark text-light">
    <div class="card-header">
        <h4 class="text-light">Comments</h4>
    </div>
    <ul class="list-group list-group-flush">
        {% for comment in post.comments %}
            <li class="list-group-item bg-dark text-white">
                <strong>{{ comment.author }}</strong> - {{ comment.comment }}<br>
            </li>
            {% endfor %}
    </ul>
</div>

<div class="card mt-4 bg-dark text-light">
    <div class="card-header">
        <h4 class="text-light">Add a Comment</h4>
    </div>
    <div class="card-body">
        <form method="POST" action="/add_comment">
            <input type="hidden" name="post_id" value="{{ post._id }}">
            <div class="mb-3">
                <label for="comment" class="form-label text-light">Your Comment</label>
                <textarea class="form-control bg-dark text-light" id="comment" name="comment" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Comment</button>
        </form>
    </div>
</div>

{% endblock %}
